body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logNav {
  list-style: none;
}

/*
Used for full height nav component
*/

.full-height {
  height: 100vh;
}

/*
Used for max card height
*/
.scroll {
  max-height: 300px;
  overflow-y: auto;
}

.password-modal-width {
  width: 70%;
  margin: auto;
}

/*
Table td width
*/

.comment-width {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
NAV color
*/

.nav-color {
  background-color: #363636;
}

/*
Button colors
*/

.main-btn {
  border: none;
  background: #74498f;
  color: white;
  font-weight: 100;
  padding: 7px 30px;
  border-radius: 6px;
  display: inline-block;
}

.search-btn {
  border: none;
  background: #74498f;
  color: white;
  font-weight: 100;
  padding: 7px 10px;
  border-radius: 0px 6px 6px 0px;
  display: inline-block;
}

.action-btn {
  border: none;
  background: #74498f;
  color: white;
  font-weight: 100;
  padding: 9px 12px;
  border-radius: 4px;
  display: inline-block;
}

.btn-color:hover {
  background-color: #6c378b;
  color: white;
}

.selected-btn {
  background-color: #763f96;
  color: white;
  padding: 14px 28px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.selected-color:hover {
  background-color: #875ca1;
  color: white;
}

.nav-btn {
  background-color: #525252;
  color: white;
  padding: 14px 28px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.color:hover {
  background-color: #6e6e6e;
  color: white;
}

.nav-sticky {
  position: sticky;
  top: 15%;
}

.no-scroll {
  overflow-x: hidden;
}
